nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "flow2-time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f46279affa7b6a79",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Fecha cruda",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "685a9227fce41d3f"
            ]
        ]
    },
    {
        "id": "f990bcf18902c9bf",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Pantalla",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "685a9227fce41d3f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Traductor de horario",
        "func": "// Lo que está después de \"//\" son comentarios\n// Crea un objeto Date a partir del msg.payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "f990bcf18902c9bf"
            ]
        ]
    }
]